body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 500px;
    margin: auto;
}

.display {
    grid-column: span 4;
    background-color: #000000;
    color: white;
    text-align: right;
    padding: 10px;
    font-size: 1.5em;
}

.btn {
    padding: 15px;
    font-size: 1em;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #2f303a;
}